services:
  api:
    build:
      context: .
      dockerfile: ./docker/dev/Dockerfile
    container_name: auth-service
    command: cargo watch -x run
    ports:
      - "8000:8000"
    volumes:
      - ./:/app

  redis:
    image: "redis:7.0-alpine"
    container_name: auth-redis
    ports:
      - "6379:6379"